search.php

## Ignore random files
phpinfo.php
apc.php
blah*
/cache/*
index.html
# index.php
info.php
error_log
errorlog.txt
profile_log.txt

# ? - We don't know what core/ is
/core

# Ignore robots
/robots.txt


## Keep images, PDFs and other uploaded assets
# images/*
/tmp/*

/images/
/vendor/
/sites/

# As of 12/15/2021 we want to be using "composer install" to update our composer libraries.
#composer.lock



# Keep all extensions in master repository for now.
#   Delete extensions from development branch as we
#   identify those that are no longer being used; or
#    we replace extensions management into composer.json file.
# extensions/
/extensions/AccessBooksOnline/
/extensions/AccessWhitelistedNamespaces/
/extensions/CaseReviews/
/extensions/Clickpdx/
/extensions/ClickpdxJavascriptFramework/
/extensions/ContactForm/
/extensions/LinkManager/
/extensions/NoTitle/
/extensions/OAuth/
/extensions/OcdlaJsIndexer/
/extensions/PersonalLinks/
/extensions/PhpMail/
/extensions/PwaOcdla/
/extensions/RegistrationForm/
/extensions/SearchOcdla/
/extensions/SphinxSearch/
/extensions/Teaser/
/extensions/UIDrawer/
/extensions/UIFixedNav/
/extensions/VarnishCache/
/extensions/Wikilog/
/extensions/WikilogOcdla/


## Skins that are sub-repositories (Soon to be managed by composer)
/skins/ocdla/
/skins/lod/



## Ignore settings specific to the TEST/PROD sites.
SiteSpecificSettings*
LocalSettingsOverrides.php

# Never copy over profiler settings used for debugging.
StartProfiler.php
xStartProfiler.php

## Ignore any archives
*.tar.gz
*.tar
*.gz

#
*.log
*.manifest
*.appcache
